.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  text-align: center;

  h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    font-size: 3em;
  }

  button {
    font-size: 1.5em;
    padding: 10px;
    color: #fff;
    background-color: red;
    border: 0;
    outline: 0;
  }
}