body {
    height: 120vh;

  background: #e00404; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #e00404 0%, #8f0222 50%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e00404), color-stop(50%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #e00404 0%,#8f0222 50%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #e00404 0%,#8f0222 50%,#6d0019 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #e00404 0%,#8f0222 50%,#6d0019 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #e00404 0%,#8f0222 50%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00404', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.timer-container {

  .timer-circle {
    width: 675px;
    height: 675px;
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 0;
    right: 0;
    background-color: #e00404;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .inside-circle {
    background-color: #8f0222;
    width: 625px;
    height: 625px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11;

    .timer-text {
      position: absolute;
      margin: 0 auto;
      top: 150px;
      left: 0;
      right: 0;
    }

    #timer-title {
      font-family: 'Biryani', sans-serif;
      font-weight: 300;
      color: #fff;
    }

    #timer-count {
      font-family: 'Exo', sans-serif;
      font-weight: 300;
      color: #fff;
      font-size: 8em;
    }

    button {
      font-size: 1.5em;
      font-family: 'Exo', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      padding: 10px 15px;
      color: #fff;
      background-color: transparent;
      border: 1.5px solid #fff;
      outline: 0;
    }
  }
}

.task-list {
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  border-left: 1px solid #fff;
  font-family: 'Biryani', sans-serif;
  color: #fff;
  text-align: center;

  &.col-md-3 {
    padding: 0;
  }

  .task-head {
    padding: 0 0 15px 15px;
  }

  input {
    color: #000;
    width: 75%;

    &:focus {
      border: 3px solid #aaa;
      outline: none;
    }
  }

  button {
    font-size: 1em;
    font-family: 'Biryani', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 15px;
    color: #fff;
    background-color: transparent;
    border: 1.5px solid #fff;
    outline: 0;
  }

  #clear-button {
    margin-left: 15px;
  }

  #add-button {
    margin-top: 10px;
  }

  ul {
      border-bottom: 1px solid #fff;
      padding: 20px;
  }

  li {
    text-align: left;
    width: 100%;
    color: #fff;

    /*&:nth-child(odd){
      background-color: #b71010;
    }

    &:nth-child(even){
      background-color: #ed1a1a;
    }*/

    #task-item {
      font-size: 1.25em;
      margin: 0;
    }

    .task-small {
      font-size: 0.75em;
      text-transform: uppercase;
      margin: 0;
    }

    #tomato-line {
      margin-top: 5px;
    }
  }
}

